
@{
}
@model Bug

<h3>Comment</h3>

<form class="mt-3" action="/Bug/Comment" method="post">
    @using (Html.BeginForm("Bug","Comment",FormMethod.Post))
    {
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label class="form-label">Comment</label>
            <div>@Html.TextBox("commentInput") </div>
        </div>
        <button type="submit" class="btn btn-primary">Comment</button>
    }
    
</form>
