
@{
}
@model Bug

<h3>Update</h3>

<form class="mt-3" action="/Bug/Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="Title">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea rows="10" class="form-control" asp-for="Description"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Reporter</label>
        <input type="text" class="form-control" asp-for="Reporter">
    </div>
    <div class="mb-3">
        <label class="form-label">Priority</label>
        <select asp-for="Priority" class="form-control">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Assignee Department</label>
        <select asp-for="Assignee" class="form-control">
            <option value="Marketing">Marketing</option>
            <option value="Finance">Finance</option>
            <option value="HR">HR</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Status</label>
        <select asp-for="Status" class="form-control">
            <option value="Open">Open</option>
            <option value="In Progress">In Progress</option>
            <option value="Closed">Closed</option>
        </select>
    </div>
    <button type="submit" class="btn btn-secondary">Update</button>
</form>
